@import './reset.scss';

.lang_kr {
	font-family: "Noto Sans KR", sans-serif;
}

// .inner {
// 	max-width: 768px;
// 	width: 100%;
// 	padding: 0 20px;
// 	margin: 0 auto;
// }

section>h2 {
	display: none;
}

*{
  box-sizing: border-box;
}
.inner {
  max-width: 1660px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

// nav
.nav_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: #000;
	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	a {
		font-size: 2rem;
		color: #fff;
	}
}
.logo {
  font-weight: bold;
}
.nav {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

// /* myown_cocktail */
// .myown_cocktail {
//   max-width: 768px;
//   width: 100%;
//   /* background-color: #; */
//   max-height: 2000px;
//   // height: 100%;
//   // border: solid 2px #000;
//   position: relative;
//   main {
//     margin: 60px 0 65px 0;
//     background-color: #32154F;
//     max-height: 1000px;
//     overflow-y: auto;
//     * {
//       color: #fff;
//     } 
//   } 
// }
// img {
// 	width: 200px;
// }

// swiper
.mySwiper {
	width: 100%;
	height: 100vh;
	margin-bottom: 50px;

	.swiper-slide {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 430px;
			margin-right: 50px;
			border-radius: 20px;
		}
		.bg {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;

			&::after {
				content: '';
				width: 100%;
				height: 100%;
				display: inline-block;
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
	}
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
	top: auto !important;
	bottom: 20px;
	height: 8px !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #5746f0 !important;
}

.desc_wrap{ 
  width: 40%;
  margin: 0 50px;
	.slideTit {
		display: block;
		font-size: 4rem;
		color: #fff;
		margin-bottom: 20px;
		font-weight: bold;
	}
	.slideDesc {
		display: block;
		font-size: 1.5rem;
		color: #fff;
		margin-bottom: 60px;
	}
	.more {
		display: inline-block;
		font-size: 1.2rem;
		color: #fff;
		width: auto;
		background-color: #5746f0;
		padding: 10px 20px;
		border-radius: 40px;
		font-weight: bold;
	}
}


/* main section list  */
.main_list {
	/* display: flex; */
	/* overflow-y: visible; */
	.inner {
		/* flex-wrap: nowrap;
		align-items: flex-start;
		overflow: hidden;
		overflow-x: scroll;
		gap: 20px; */
	}
	.list_title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
		h2 {
			font-size: 2rem;
			line-height: 1.2;
		}
		
		.moreBtn {
			border-radius: 30px;
			border: solid 2px #000;
			padding: 2px 20px;
			font-size: 1.2rem;
			font-weight: 600;
		}
	}
}


.main_item {
	display: flex;
	flex-direction: column;
}

.main_item>img {
	width: 100%;
}

.main_item>p {
	font-weight: 600;
}

/* type_list */
.type_list {
	padding-top: 80px;
}
.type_list>h2 {
	margin: 140px 0 60px;
	text-align: center;
	font-size: 2rem;
}

.type_list .search_box {
	margin: 40px 0;
}

.type_list>ul {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

.type_list>ul>li {
	width: calc((100% - 80px) / 5);
}

.type_list>ul>li img {
	width: 100%;
}

/* detail  */
.detail_wrap {
	margin: 100px auto;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	width: 80%;
	.desc_wrap{
		width: 100%;
	}

	.title {
		font-size: 2.4rem;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.genre_list{
		margin-bottom: 20px;
		p {
			font-size: 1rem;
			font-weight: bold;
			line-height: 1.4;
			color: #fff;
			background-color: #5746f0;
			padding: 8px 16px;
			border-radius: 30px;
			display: inline-block;
			margin: 0;
			&:not(:last-child) {
				margin-right: 18px;
			}
		}
	}

	.desc_overview{
		.overview{
			&_title{
				font-size: 1.6rem;
				font-weight: bold;
				margin-bottom: 1rem;
			}
			&_text{
				font-size: 1.2rem;
				font-weight: 500;
			}
		}
	}
}

.detail_wrap .desc_wrap {}